.katex {
    pointer-events: none;
}

.math-box {
    padding: 1px;
    margin-left: -3px;
    margin-top: -3px;
    cursor: text;
}

.hovered-box {
    border: 2px dotted black;
}

.focused-box {
    caret-color: transparent;
    outline: none;
    box-shadow: none;
    border: 2px solid black;
}
