.katex {
    pointer-events: none;
}

html, body, .root, .editor {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}


.editor {
    height: 100%;
    padding: 10px;
}

.workArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.math-box {
    padding: 1px;
    margin-left: -3px;
    margin-top: -3px;
    cursor: text;
    pointer-events: auto;
}

.hovered-box {
    border: 2px dotted black;
}

.empty-box {
    border: 1px dotted black;
    width: 7px !important;
    height: 7px !important;
    margin-left: 0px !important;
    margin-top: 3px !important;
}

.focused-box {
    outline: none;
    box-shadow: none;
    border: 2px solid black;
    color: transparent;
    caret-color: black;
    font-size: 19px;
}

.textInput {
    margin-bottom: 20px;
    height: 100px;
}