.katex {
    pointer-events: none;
}

.math-box {
    padding: 1px;
    margin-left: -3px;
    margin-top: -3px;
    cursor: text;
    pointer-events: auto;
}

.hovered-box {
    border: 2px dotted black;
}

.empty-box {
    border: 1px dotted black;
    width: 7px !important;
    height: 7px !important;
    margin-left: 0px !important;
    margin-top: 3px !important;
}

.focused-box {
    outline: none;
    box-shadow: none;
    border: 2px solid black;
    color: transparent;
    caret-color: black;
    font-size: 19px;
}
